@use "../../styles/variables" as *;

.game-frame {
  background-color: $color-frame;
  padding: 2.25rem;
  min-height: 100vh;
  display: flex;

  .game-frame__heading {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -95%);

    .game-frame__settings-button {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0.5rem;
    }
  }
}

@media screen and(min-width: $tablet-breakpoint) {
  .game-frame {
    height: 100vh;
  }
}
