@use "../../styles/animations" as *;

.cloud-overlay {
  pointer-events: none;
  height: 100%;
  width: 100%;
  position: absolute;

  .cloud-overlay__cloud {
    width: 10%;
    max-width: 120px;
    position: absolute;
    @include animate-across;
  }
}
