@mixin animate-across {
  animation: across-screen 60s linear;
  animation-fill-mode: forwards;
}

@keyframes across-screen {
  0% {
    left: 12.5%;
    opacity: 0;
  }
  5% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
  95% {
    opacity: 0.5;
  }
  100% {
    left: 87.5%;
    opacity: 0;
  }
}
