// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

// colors - ui
$color-text: #f5f5f5;
$color-text-variant: #2b2b2b;
$color-background: #2b2b2b;
$color-frame: #ce8f3c;
$color-highlight: #bb1610;

// colors - world
$color-ground-tint-1: #218f1c;
$color-ground-tint-2: #5dd850;
$color-sky: #57b8ee;
