@use "../../styles/variables" as *;

.play-area {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .play-area__resource {
    // z-index to put in front of clouds
    z-index: 1;
    display: flex;
    flex-direction: column;
  }

  .play-area__deck {
    text-align: center;
    margin-top: 10px;

    .play-area__button {
      color: black;
      padding: 0.25rem;
    }
  }
}

@media screen and(min-width: $tablet-breakpoint) {
  .play-area {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
